.bottom-drawer {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    max-height: 80vh; /* Ограничение по высоте */
    background: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px 8px 0 0;
    transition: bottom 0.4s ease-in-out;
    z-index: 1000;
    padding: 0rem 0.3rem 1rem 0.3rem;
    box-sizing: border-box;
}

.bottom-drawer.open {
  bottom: 4rem;
  max-height: -webkit-fill-available;
}

.bottom-drawer__content {
    margin-bottom: 0.4rem;
    font-size: 1rem;
    overflow: auto;
    max-height: 80vh; /* Ограничение по высоте */
}

.bottom-drawer__actions {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.bottom-drawer__button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bottom-drawer__button--close {
    background-color: #e74c3c;
    color: white;
}

.bottom-drawer__button--action {
    background-color: #2ecc71;
    color: white;
}

.bottom-drawer__button--action:disabled {
 background-color: #e7e7e7;
}

.bottom-drawer img {
  width: -webkit-fill-available;
}

bottom-drawer img {
  width: -webkit-fill-available;
  padding: 0.1rem;
  border-radius: 0px;
}


bottom-drawer h3.card-title {
  padding: 0.5rem 1rem 0 0.5rem;
}