.bottom-drawer {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: inherit;
    max-height: 80vh; /* Ограничение по высоте */
    background: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px 8px 0 0;
    transition: bottom 0.4s ease-in-out;
    z-index: 1000;
    padding: 0rem 0.3rem 1rem 0.3rem;
    box-sizing: border-box;
}

.bottom-drawer__content_slide_header {
  height: 10px;
}

.bottom-drawer__content_slide_header_line {
    background: #ededed;
    height: 5px;
    margin: 0.5rem;
    width: 40%;
    left: 30%;
    position: absolute;
}

.bottom-drawer__content_header_close_button {
    position: absolute;
    top: -3px;
    right: 0rem;
    background: #c9c9c9;
    padding: 0.1rem 0.5rem;
    border-radius: 50%;
    color: white;
    font-size: 0.8rem;
}


.bottom-drawer.open {
  bottom: 0rem;
  max-height: -webkit-fill-available;
}

.bottom-drawer__content {
    margin-bottom: 0.4rem;
    font-size: 1rem;
    overflow: auto;
    max-height: 80vh; /* Ограничение по высоте */
}

.bottom-drawer__actions {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    border-top: 1px solid #ebebeb;
}

.bottom-drawer__button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bottom-drawer__button--close {
    background-color: #e74c3c;
    color: white;
}

.bottom-drawer__button--action {
    background-color: #2ecc71;
    color: white;
}

.bottom-drawer__button--action:disabled {
 background-color: #e7e7e7;
}

.bottom-drawer img {
  width: -webkit-fill-available;
}

bottom-drawer img {
  width: -webkit-fill-available;
  padding: 0.1rem;
  border-radius: 0px;
}


bottom-drawer h3.card-title {
  padding: 0.5rem 1rem 0 0.5rem;
}


/* РњРµРґРёР°-Р·Р°РїСЂРѕСЃС‹ РґР»СЏ Р°РґР°РїС‚РёРІРЅРѕСЃС‚Рё */
@media  (max-width: 22.49rem){ /* 360px */
.bottom-drawer.open {
      bottom: 0;
      min-height: 16vh;
   }

.bottom-drawer__actions {
      min-height: 12vh;
 }
}

@media (min-width: 22.50rem) and (max-width: 47rem) { /* 361px - 768px */
.bottom-drawer.open {
      bottom: 0;
      min-height: 16vh;
   }
.bottom-drawer__actions {
      min-height: 12vh;
 }

}

@media (min-width: 47.01rem) and (max-width: 62rem) { /* 769px - 992px */
.bottom-drawer.open {
      bottom: 0;
      min-height: 12vh;
   }
.bottom-drawer__actions {
      min-height: 12vh;
 }

}

@media (min-width: 62.06rem) and (max-width: 75rem)  { /* 993px */
.bottom-drawer.open {
      bottom: 0;
      min-height: 12vh;
   }
.bottom-drawer__actions {
      min-height: 12vh;
 }

}

@media (min-width: 75.01rem)   { /* 993px */
.bottom-drawer.open {
      bottom: 0;
      min-height: 12vh;
   }
.bottom-drawer__actions {
      min-height: 12vh;
 }

}

