.profile-container {
    position: relative;
    background: #fff;
    padding: 1.875rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    max-width: 31.25rem;
    width: 100%;
    font-size: 0.9rem;
    font-family: "Roboto Condensed", sans-serif;
    height: max-content;
}

.profile-container h1 {
    font-size: 1.5rem; /* 24px */
    color: #007bff;
    text-align: center;
    margin-bottom: 1.25rem; /* 20px */
}

.profile-input-group {
    margin-bottom: 0.9375rem; /* 15px */
}

.profile-input-group label {
    font-size: 0.875rem; /* 14px */
    color: #555;
    display: block;
    margin-bottom: 0.3125rem; /* 5px */
}

.profile-input-group input {
    width: 100%;
    padding: 1.1rem; /* Оставил как есть */
    font-size: 1rem; /* 16px */
    border: 0.0625rem solid #ccc; /* 1px */
    border-radius: 0.5rem; /* 8px */
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.profile-input-group input:focus {
    border-color: #007bff;
    outline: none;
}

.profile-button-container {
    text-align: center;
    margin-top: 1.25rem; /* 20px */
}

.profile-button {
    padding: 0.75rem 1.25rem; /* 12px 20px */
    font-size: 1rem; /* 16px */
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.5rem; /* 8px */
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-button:hover {
    background-color: #0056b3;
}

