<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Details Component</title>
  <script src="./product-details.js" defer></script>
</head>
<body style="margin: 0;">
<product-details
  title="Amazing Product"
  description="This is a great product"
  price="$49.99"
  images="https://openfsm.ru/main/pages/telegram/jobs/images/shops/88aa0800-1343-11ec-aecd-0242ac140000/45640ba7-d044-4ec6-b9fb-190aaabffe62.jpg,https://openfsm.ru/main/pages/telegram/jobs/images/shops/88aa0800-1343-11ec-aecd-0242ac140000/c12da366-9a80-4bc7-ae41-e98f3a91638b.jpg,https://openfsm.ru/main/pages/telegram/jobs/images/shops/88aa0800-1343-11ec-aecd-0242ac140000/676b72f9-8f67-4dc2-b930-74ccc4a4c645.jpg"
  colors="Red,Blue,Green">
</product-details>
</body>
</html>
