/* карточки заказа общие настройки */

.shop_card {
    width: 96%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -3px 0px 4px rgba(0, 0, 0, 0.1), 3px 3px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
    float: left;
    background-color: #fefcfc;
    margin: 2%;
    border-radius: 5% 5% 0 0;
    max-height: 30rem;
}

.shop_card__image > img {
  width: 100%;
  object-fit: cover; 
  transition: 0.2s;
  height: 20rem;
  min-height: 10rem;
}


.shop_showcase_card__top {
    position: relative;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    height: -webkit-fill-available;
    border-radius: 5% 5% 0 0;
}

.shop_card__title {
    display: flex;
    margin: 0.2rem 0 0.5rem 0;
    font-size: 1rem;
    line-height: 150%;
    height: 2.5rem;
    padding: 0 0.1rem;
}