.pult-x-element-contact-form-component .contact-info .card {
  padding: 1rem;
}

.pult-x-element-contact-form-component .contact-info .col {
  font-size: 0.9rem;
  font-family: "Roboto Condensed", sans-serif;
}


.shop-x-element-contact-form-component .contact-info .card {
  padding: 1rem;
}

.shop-x-element-contact-form-component .contact-info .col {
  font-size: 0.9rem;
  font-family: "Roboto Condensed", sans-serif;
}

