<link href="/src/pages/css/profile.css" rel="stylesheet" />
<!-- Верхняя строка меню -->
<top-header></top-header>
<!-- Контейнер для карточек заказов -->
<div class="row">
   <div class="col-sm col-md-2 col-lg-3 col-xl-3 col-xxl-3"></div>
   <div class="col-sm-11 col-md-8 col-lg-6 col-xl-6 col-xxl-6 profile-card-container"></div>
   <div class="col-sm col-md-2 col-lg-3 col-xl-3 col-xxl-3"></div>
</div>
<script src="/src/pages/js/modules/profile/AccountBalanceManager.js"></script>
<script src="/src/pages/js/modules/profile/AddressManager.js"></script>
<script src="/src/pages/js/modules/profile/CardsManager.js"></script>
<script src="/src/pages/js/modules/profile/SubscriptionsManager.js"></script>
<script src="/src/pages/js/modules/profile/ProfileManager.js"></script>
<script src="/src/pages/js/modules/profile/EmailManager.js"></script>
<script src="/src/pages/js/modules/profile/PhoneManager.js"></script>
<script src="/src/pages/js/modules/profile/profilePage.js"></script>

<script src="/src/components/ui/top-header/top-header.js"></script>        
<script src="/src/pages/partials/profile.js"></script>
<script src="/src/components/ui/profile-picture/profile-picture.js"></script>
<script src="/src/components/ui/dropdown-section/dropdown-section.js"></script>
<script src="/src/components/ui/input-mask/inputmask.js"></script>
<script src="/src/store/validators/InputMaskValidators.js"></script>
<script src="/src/components/ui/autocomplete/AutoComplete.js"></script>

