<div class="shop_application_dialog" style="display : none;">
  <div class="row">

   </div>
</div>

<div class="create_orders_dlg" style="display : none;">
   <div class="row title_orders"></div>
   <div class="row">
  	<div class="col w-100 text-left" ><h2>Данные для доставки заказа</h2></div> 
   </div>
     <div class="row">
	   
      </div>
    <div class="row">
	   <div class="shop_basket_footer w-100"></div>
    </div>
</div>
    <!-- Контейнер для карточек -->
<div class="basket-container"></div>
<script src="/src/components/ui/top-header/top-header.js"></script>        
<script src="/src/pages/partials/basket.js"></script>
<script src="/src/components/ui/dropdown-section/dropdown-section.js"></script>

