    <!-- Контейнер для карточек -->
<div class="basket-container"></div>
<script src="/src/pages/js/modules/basket/basketPage.js"></script>
<script src="/src/pages/js/modules/basket/basketItem.js"></script>
<script src="/src/components/ui/top-header/top-header.js"></script>        
<script src="/src/pages/partials/basket.js"></script>
<script src="/src/components/ui/dropdown-section/dropdown-section.js"></script>

