<link href="/src/pages/css/profile.css" rel="stylesheet" />
<!-- Верхняя строка меню -->
<top-header></top-header>
<script src="/src/components/ui/top-header/top-header.js"></script>        
<!-- Контейнер для карточек заказов -->
<div class="row">
   <div class="col-sm col-md-2 col-lg-3 col-xl-3 col-xxl-3"></div>
   <div class="col-sm-11 col-md-8 col-lg-6 col-xl-6 col-xxl-6 security-question-card-container"></div>
   <div class="col-sm col-md-2 col-lg-3 col-xl-3 col-xxl-3"></div>
</div>
<script src="/src/services/ConfirmationHelper.js"></script>
<script src="/src/pages/js/modules/security-question/DisableSecurityQuestionManager.js"></script>
<script src="/src/pages/js/modules/security-question/DisableSecurityQuestionPage.js"></script>
<script src="/src/components/ui/bottom-drawer/bottom-drawer.js"></script>                                                            
<script src="/src/components/ui/content-bottom-drawer/content-bottom-drawer.js"></script>     

<script src="/src/pages/partials/disable_security_question.js"></script>
