<!-- Верхняя строка меню -->
<top-header></top-header>

<!-- Контейнер для карточки заказа -->
<div class="order-container"></div>
<script src="/src/store/validators/DatetimeValidator.js"></script>
<script src="/src/pages/js/modules/order-details/OrderDetailsPage.js"></script>
<script src="/src/pages/js/modules/order-details/OrderDetailsItem.js"></script>
<script src="/src/components/ui/top-header/top-header.js"></script>        
<script src="/src/pages/partials/order.js"></script>
<script src="/src/components/ui/dropdown-section/dropdown-section.js"></script>


