<!-- Контейнер для карточек заказов -->
<div class="orders-container"></div>
<script src="/src/store/validators/DatetimeValidator.js"></script>
<script src="/src/pages/js/modules/orders/ordersPage.js"></script>
<script src="/src/pages/js/modules/orders/orderItem.js"></script>
<script src="/src/components/ui/top-header/top-header.js"></script>        
<script src="/src/pages/partials/orders.js"></script>
<script src="/src/components/ui/dropdown-section/dropdown-section.js"></script>


