<link href="/src/pages/css/profile.css" rel="stylesheet" />

<!-- Контейнер страницы -->
<div class="row">
   <div class="col-sm col-md-2 col-lg-3 col-xl-3 col-xxl-3"></div>
   <div class="col-sm-11 col-md-8 col-lg-6 col-xl-6 col-xxl-6 pincode-logon-container">
      <login-code class="login-code"  visible app-name="Введите код" code-length="5" ></login-code>
   </div>
   <div class="col-sm col-md-2 col-lg-3 col-xl-3 col-xxl-3"></div>
</div>

<script src="/src/pages/js/modules/code-login/login-code.js"></script>
<script src="/src/pages/js/modules/logon/PINCodeLogonManager.js"></script>
<script src="/src/pages/js/modules/logon/PINCodeLogonPage.js"></script>
<script src="/src/pages/partials/pincode_logon.js "></script>
