<body style="margin: 0;">
<div class="row"> </div>
<div class="row">
   <div class="col-sm col-md-2 col-lg-3 col-xl-3 col-xxl-3"></div>
      <div class="col-sm-11 col-md-8 col-lg-6 col-xl-6 col-xxl-6 product-mail-card-container"></div>
   <div class="col-sm col-md-2 col-lg-3 col-xl-3 col-xxl-3"></div>
</div>
</body>
<script src="/src/store/validators/DatetimeValidator.js"></script>
<script src="/src/pages/partials/product_mail_reply.js"></script>
<script src="/src/components/ui/icon-button/icon-button.js"></script>         
<script src="/src/components/ui/bottom-drawer/bottom-drawer.js"></script>         
<script src="/src/pages/js/modules/product-details/product-short-card.js"></script>        
<script src="/src/components/ui/dropdown-section/dropdown-section.js"></script>         
<script src="/src/components/ui/stars-rating/stars-rating.js"></script>
<script src="/src/pages/js/modules/product-mail/ProductMailItem.js"></script>
<script src="/src/pages/js/modules/product-mail/ProductMailPage.js"></script>
<script src="/src/components/ui/mail-form/mail-form.js"></script>         
<script src="/src/components/ui/file-upload/file-upload.js"></script>






