<!-- Верхняя строка меню -->
<top-header></top-header>
<!-- Контейнер для карточки -->
<div class="product-card-container"></div>
<script src="/src/components/ui/top-header/top-header.js"></script>        
<script src="/src/pages/partials/products.js"></script>
