    <!-- Контейнер для карточек -->
<div class="product-card-container"></div>
<script src="/src/components/ui/top-header/top-header.js"></script>                                   
<script src="/src/components/ui/product-card/product-card.js"></script>
<!--
<script src="/js/helpers/shop_showcase.js"></script>
-->