<!-- Верхняя строка меню -->
<top-header></top-header>
<!-- Контейнер для карточки -->
<div class="product-card-container"></div>

 <mobile-navbar>
    <mobile-navbar-item 
      label="Товары" 
      icon="fa-box" 
      url="/products/page">
    </mobile-navbar-item>
    <mobile-navbar-item 
      label="Заказы" 
      icon="fa-shopping-cart" 
      url="/orders/page">
    </mobile-navbar-item>
    <mobile-navbar-item 
      label="Корзина" 
      icon="fa-cart-plus" 
      url="/basket/page">
    </mobile-navbar-item>
    <mobile-navbar-item 
      label="Профиль" 
      icon="fa-user" 
      url="/profile/page">
    </mobile-navbar-item>
  </mobile-navbar>


<script src="/src/components/ui/mobile-navbar/mobile-navbar.js"></script>
<script src="/src/components/ui/top-header/top-header.js"></script>        
<script src="/src/pages/partials/products.js"></script>
