    <!-- Контейнер для карточек -->
<div class="product-card-container"></div>
<script src="/src/components/ui/top-header/top-header.js"></script>        
<script src="/src/components/ui/product-card/product-card.js"></script>
<link rel="stylesheet" href="/src/components/ui/basket-button/css/basket-button.css">                           
<script src="/src/components/ui/basket-button/basket-button.js"></script>

<script src="/src/pages/partials/products.js"></script>
