<style>
.main {
    display: flex;
    justify-content: center;
    height: -webkit-fill-available;
    overflow-y: auto;
}
</style>
<link href="/src/pages/css/profile.css" rel="stylesheet" />

    <!-- Контейнер для карточек -->
  <div class="profile-container card">
    <div class="card-header">
        <h3 class="card-title">Профиль</h3>
    </div>
    <div class="card-body"></div>
      <!-- Кнопка сохранения -->

    <div class="profile-button-container">
         <button class="profile-button" style="margin-right: 2rem;" >Сохранить</button>
        <a class="session-close">Выйти из магазина</a>
    </div>
</div>
<script src="/src/components/ui/top-header/top-header.js"></script>        
<script src="/src/pages/partials/profile.js"></script>
<script src="/src/components/ui/dropdown-section/dropdown-section.js"></script>
<script src="/src/components/ui/input-mask/inputmask.js"></script>
<script src="/src/store/validators/InputMaskValidators.js"></script>
<script src="/src/components/ui/autocomplete/AutoComplete.js"></script>

