<style>
.main {
    display: flex;
    justify-content: center;
    height: -webkit-fill-available;
    overflow-y: auto;
}
</style>
<link href="/src/pages/css/profile.css" rel="stylesheet" />

    <!-- Контейнер для карточек -->
<div class="profile-card-container"></div>
<script src="/src/pages/js/modules/profile/profilePage.js"></script>
<script src="/src/components/ui/top-header/top-header.js"></script>        
<script src="/src/pages/partials/profile.js"></script>
<script src="/src/components/ui/dropdown-section/dropdown-section.js"></script>
<script src="/src/components/ui/input-mask/inputmask.js"></script>
<script src="/src/store/validators/InputMaskValidators.js"></script>
<script src="/src/components/ui/autocomplete/AutoComplete.js"></script>

