<link href="/src/pages/css/profile.css" rel="stylesheet" />

    <!-- Контейнер для карточек -->
<div class="profile-container"></div>
<script src="/src/components/ui/top-header/top-header.js"></script>        
<script src="/src/pages/partials/profile.js"></script>
<script src="/src/components/ui/dropdown-section/dropdown-section.js"></script>

