    <!-- Контейнер для карточек -->
<div class="product-card-container"></div>
<script src="/components/top-header/top-header.js"></script>                                    +
<script src="/components/product-card/product-card.js"></script>
<script src="/js/helpers/shop_showcase.js"></script>