<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кастомное Верхнее Меню</title>
<!--
    <link rel="stylesheet" href="header.css">
-->
</head>
<body>
    <!-- Кастомный элемент верхнего меню -->
    <top-header></top-header>

    <!-- Основной контент страницы -->
    <main>
        <query-search-selector></query-search-selector>
    </main>

    <script src="search-selector.js"></script>   
</body>
</html>
