  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper iframe-mode" data-widget="iframe" data-loading-screen="750">
    <div class="tab-content">
      <div class="tab-empty main-zero">
        <h2 style="padding-top: 10rem;" >Укажите нужный раздел</h2>
      </div>
      <div class="tab-loading">
        <div>
          <h4 class="display-4" style="font: 1em sans-serif;
          background-color: #e3e1e1;
          width: 150px;
          height: 40px;
          text-align: center;
          vertical-align: middle;
          padding: 12px 2px 2px 2px;
          margin: 2px 2px 2px 2px;
          color: #000;
          border-radius: 5px;
          border: 1px solid #cac1c1;">Загрузка данных <i class="fa fa-sync fa-spin"></i></h4>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-wrapper -->
