  <div class="row">
    <div class="col-sm">
      <div class="row"><h3 class="callservice-title-article"> Переписка по запросу </h3> </div>
       <div class="row">
	 <div class="card" style="display: inline-flex; height: 30rem; width: 100%; margin: 1rem; background: aliceblue;">
	   <div class="card-body scrollbar-inner" 
   	     id="servicecalls_chat_container" name = "servicecalls_chat_container"
	       style=" overflow: auto;">
   	        <div class="chat_container" rel="servicecalls" >
            </div>
          </div>
        </div>
      </div>

       <div class="row">
	   <div class="col-sm">
	        <div class="input-group mb-3" style="margin-bottom:0.5rem!important;">
                 <textarea id="chat-message-input-dialog" name="chat-message-input-dialog" class="form-control" maxlength="50"	 
		   placeholder="Введите сообщение" 				
		   style=" min-height: 42px; max-height: 100px; font-size: 1rem; padding: 0.8rem; margin: 0 0.4rem 1rem 0.4rem; border-radius: 0.6rem;" />
		  </div>		               
              </div>		               
           </div>	
		   <div class="row d-grid gap-2 d-md-flex justify-content-md-end">
			<div class="input-group-prepend">
			  		<button type="button" class="btn btn-lg btn-primary" id="call-comment-send" ><i class="far fa-envelope"></i>&nbsp;Отправить</button>
   	                </div>		
		   </div>	
       </div>
  </div>

