  <div class="row">
    <div class="col-sm">
       <div class="row">
	  <div class="card" style="display: inline-flex; height: 30rem; width: 100%;">
  	      <div class="card-body"></div>
	  </div>
      </div>
    </div>
  </div>

