 <table id="profile-object-changes-relation-table" name="profile_object_changes_relation_table" class="table table-bordered profile-object-changes-relation shadow">
    <thead>
       <tr>
         <th>#</th>
         <th>Дата</th>
         <th>Категория</th>
         <th>[х]</th>
<!--         <th>*</th> -->
         <th>+</th>
       </tr>
     </thead>
          <tbody></tbody>
  </table>

<div class="card-footer clearfix profile-object-changes-navigation" ></div>

 <div class="callout callout-info">
	<p>{{labels.dialogChangeObjectTab1.object_change_worked_description}}</p>
	<small>{{labels.dialogChangeObjectTab1.object_address_reseach_blocked_title}}</small>
 </div>

