             <div class="card-header">
                <h3 class="card-title">Связка геозоны с типами обьектов</h3>
                <div class="clearfix profile-geozone-service-relation-navigation" ></div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered profile-geozone-service-relation shadow">
                  <thead>
                    <tr>
                      <th style="width: 10px; vertical-align: middle;">#</th>
                      <th>Тип обьекта
		      </th>
                      <th style="width: 40px">ON/OFF</th>
                    </tr>
                  </thead>

                   <tbody>

                  </tbody>
             </table>
         </div>
    <div class="card-footer clearfix profile-geozone-service-relation-navigation" ></div>
