<div class="w-100" >
 <div class="row">
   <div class="col-sm">
     <div class="row">
          <div class="container-fluid geozone-card-container" id="poligon-objects-list"  >
	     <div class="card-header">
	      <h3 class="card-title">Редактирование обьекта</h3>
	     </div>
             <div class="card-body">
               <div class="row">
                <div class="col-sm">
			<div class="card-body" >
  			   {{>dialog.changeObject}}
			</div>
	          </div>
             </div>
            </div>  
        </div>
     </div>
   </div>
  </div>
 </div>
</div>

