   <footer class="main-footer d-flex" style="width:100%">
<div class="row"  style="width:100%">
   <div class="col-7"> 
        <b>Copyright &copy; 2014-2022 <a href="{{ serviceEmail }}"><i class="nav-icon fas fa-envelope" title="Доступно место на диске"></i>&nbsp;{{ serviceName }}</a>.&nbsp; All rights reserved.&nbsp; Version {{ serviceVersion }}</b> 
  </div>
   <div class="col-4 float-right">
	<span><i class="fa fa-hard-drive" title="Доступно место на диске"></i>&nbsp;<b>HDD:</b>20% (100MB/50Gb) | </span>
	<span><i class="fa fa-memory" title="Доступно памяти"></i>&nbsp;<b>Memory:</b>20% (100MB/50Gb) |  <span>
	<span><i class="fa fa-microchip" title="Нагрузка на процессор"></i>&nbsp;<b>Processors:</b>20% (100MB/50Gb) </span>
   </div>
   <div class="col-1 float-right"> </div>
 </div>
 </footer>