<div class="wrapper">   
    <section class="content">
      <div class="container-fluid">
	    <div class="col-sm-12"  style="padding: 1rem;">
       		 <h1>Управление профилем пользователя</h1>
            </div>
        <div class="row">
          <div class="col-12">
            <div class="card card-none card-tabs">
              <div class="card-header p-0 pt-1">

                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-one-7-tab" data-toggle="pill" href="#custom-tabs-one-7" role="tab" aria-controls="custom-tabs-one-trip-7" aria-selected="false"
			flux='true' flux-event-name='portal-article-click' flux-event-code='profile-geozones'>Геозоны</a>
                  </li>
                </ul>

            </div>
               <div class="card-body" id="output" style='overflow: auto;'>

		<div class="tab-content" id="custom-tabs-one-tabContent">
		      <div class="tab-pane fade active show" id="custom-tabs-one-7" role="tabpanel" aria-labelledby="custom-tabs-one-7-tab">
			{{>profile.geozones.tab}}
		      </div>
		</div>

              </div>
                  <div class="card-footer" style="display: block;">
                    Посетите наш раздел <a href="https://select2.github.io/">"Документация СМЭС1" </a> .
                  </div>
              </div>
             </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<script src="/main/js/geozones/profile.geozone.loader.js"></script>

