<div class="wrapper">   
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
               	  {{>menu.groups.tabs.item}}
           </div>
        </div>
      </div>
   </section>
</div>

<script src="/main/js/groups/profile.groups.loader.js"></script> 

