    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class=" d-none d-sm-inline-block">
        <a href="/main" class="nav-link">На главную</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/contacts" class="nav-link">Контакты</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
              <div class="pb-2">
                    <button type="button" class="btn btn-light button-exit">Выход</button>
             </div>
      </li>
    </ul>

