<div class="wrapper">   
    <section class="content">
       <div class="container-fluid">
          <div class="row">
              <div class="col-12">
               	  {{>menu.licenses.tabs}}
             </div>
          </div>
        </div>
    </section>
  </div>
<script src="/main/js/licenses/licenses.access.js"></script>
<script src="/main/js/licenses/licenses.loader.js"></script>