<nav class="mt-2" style="border-bottom: 1px solid #54585e;">
 <div class="row" style="margin-bottom: 1rem;">
  <div class="col-sm-3">	
      <img src="/main/images/logo.png" alt="OPENFSM.RU" class="img-circle elevation-3" 
	style="line-height: .8; max-height: 55px; width: auto; margin: 0.4rem;">
   </div>
   <div class="col-sm-8">	
      <ul class="nav nav-user nav-sidebar flex-column" data-widget="treeview1" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/main" class="nav-link d-block" rel="profile" flux="true" flux-event-name="portal-article-click" flux-event-code="profile" style="cursor:pointer;padding: 0.2rem 1rem 0.6rem 0.1rem;">
            <div style="padding: 1.3rem 0.1rem 0.1rem 0.1rem;"><p style="font-weight: bold;text-align: center;font-size: 1.2rem;color: aliceblue;top: 1rem;">OPENFSM.RU ©</p></div>
          </a>
      </li>
     </ul>
   </div>
  </div>
</nav>