<div class="tab-content" id="custom-tabs-one-tabContent">
      <div class="tab-pane fade show active" id="custom-tabs-one-3" role="tabpanel" aria-labelledby="custom-tabs-one-3-tab">
         <div class="card" >
              <div class="card-header">
                <h3 class="card-title">Доступ к группам и организациям</h3>
                <div class="clearfix profile-access-group-navigation" ></div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
               <div class="row">
                	<div class="col-sm">		  	
		            <button type="button" href="#" class="btn float-left btn-outline-primary new-group-add-btn" style="margin: 0 0 2rem 0;"><i class="fas p-1 fa-plus"></i>Добавить группу</button>
	                </div>	
                </div>	
               <div class="row">
                	<div class="col-sm">		  	
        	             <div class="new-group-add-element d-flex"></div>
	                </div>	
                </div>	
                <table class="table table-bordered profile-access-group shadow">
                  <thead>
                    <tr>
                      <th style="width: 10px; vertical-align: middle;">#</th>
                      <th>Организация<br><br><select class="group-access-org-names-filter form-control"  style="height: 2rem;"><option selected></option></select></th>
                      <th>Группа<br><br><select class="group-access-group-names-filter form-control"  style="height: 2rem;"><option selected></option></select></th>
                      <th style="width: 40px; vertical-align: middle; vertical:center">#<br><br></th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix profile-access-group-navigation" ></div>
            </div>


      </div>
</div>
