 <div class="card" >
  <div class="card-header">
     <h3 class="card-title">Управление лицензиями</h3>
        <div class="clearfix profile-access-licenses-navigation" ></div>
     </div>
   <!-- /.card-header -->
  <div class="card-body">
               <div class="row">
	               	<div class="col-sm">		  	
			<button type="button" href="#" class="btn float-left btn-outline-primary new-license-add-btn" style="margin: 0 0 2rem 0;"><i class="fas p-1 fa-plus"></i>Добавить ключ</button>
	                </div>	
                </div>	
               <div class="row">
                	<div class="col-sm">		  	
        	             <div class="new-license-add-element d-flex"></div>
	                </div>	
                </div>	

    <table class="table table-bordered profile-access-licenses shadow">
     <thead>
      <tr>
        <th style="width: 10px; vertical-align: middle;">#</th>
        <th class="text-center align-middle">Организация<br><br><select class="group-access-licenses-names-filter form-control"  style="height: 2rem;"><option selected></option></select></th>
        <th class="text-center align-middle">Провайдер<br><br><select class="group-provider-licenses-names-filter form-control"  style="height: 2rem;"><option selected></option></select></th>
        <th class="text-center align-middle">Сервис<br><br><select class="group-services-licenses-names-filter form-control"  style="height: 2rem;"><option selected></option></select></th>
        <th class="text-center align-middle">Active<br>OFF/ON</th>
        <th class="text-center align-middle">Балансировка</th>
        <th class="text-center align-middle">Кол-во</th>
        <th class="text-center align-middle">Создан</th>
        <th class="text-center align-middle">Последнее обращение</th>
        <th class="text-center align-middle">#</th>

       </tr>
      </thead>
     <tbody></tbody>
     </table>
   </div>
 <div class="card-footer clearfix profile-access-licenses-navigation" ></div>
