<div class="w-100" >
 <div class="row">
   <div class="col-sm">
     <div class="row" style="padding:5px;">
       <h2>Доступ к геозонам</h2>
     </div>
     <div class="row">
          <div class="card container-fluid help-card-container d-none" > </div>
          {{>dialog.geozone.editor}}
          <div class="card container-fluid geozone-card-container" style="max-width: 35rem; position: absolute; right: 10px; z-index: 300; background-color: white; margin: 2.3rem 3px 0 0;" >
             <div class="card-header">
	       <button type="button" href="/users/add" 
		class="ml-auto p-2 btn float-left btn-outline-primary modal-geozone-dialog-click" 
		data-toggle="modal" 
		data-target="#modal-geozone-dialog">Добавить геозону</button>

              <div class="clearfix profile-access-geozones-navigation" ></div>
              </div>
              <div class="card-body">
               <div class="row">
                <div class="col-sm">
	         <div class="card container-fluid"  >
  	  	  <div class="card-tools text-right">
		     <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
		  </div>
        	  <div class="callout callout-info geozone-quote-message">
	             <p>Выберите геозону из списка для ее отражения и управления на карте.</p><small>Управление геозонами</small>
		   </div>
	          </div>
                  <table class="table table-bordered profile-access-geozones shadow">
                    <thead>
                      <tr>
                        <th style="width: 10px; vertical-align: middle;">#</th>
                        <th>
                              <div class="btn-group w-100">
			             <input class="group-access-geozones-names-filter form-control"  placeholder="Введите название геозоны" style="height: 2rem">
			              <button type="button" class="btn btn-tool geozone-input-clear-btn">
			                 <i class="fas fa-times"></i>
			              </button>
			      </div>
  	  		</th>
                        <th style="width: 40px">ON/OFF<br><br></th>
                        <th style="width: 40px"></th>
                        <th style="width: 40px"></th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>  
          <div class="card-footer clearfix profile-access-geozones-navigation" ></div>
        </div>
     </div>
   </div>
  </div>

  </div>
</div>


