<div class="wrapper">   
    <section class="content">
      <div class="container-fluid">
	    <div class="col-sm-12"  style="padding: 1rem;">
       		 <h1>Комплексный экран управления запросами</h1>
		 <h4>{{name}}</h4>
            </div>
        <div class="row">
	  <div class="col-sm d-grid gap-2 justify-content-md-end" style="padding-bottom: 1rem;">		  	
   	    <button type="button" class="btn-new-servicecall-create ml-auto p-2 btn float-left btn-outline-primary"><i class="fas p-1 fa-plus"></i>Создать новый запрос</button>
	 </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card card-none card-tabs">
               <div class="card-body" id="output" style='overflow: auto;'>
	          {{>servicecalls.table}}
                </div>
              </div>
             </div>
          </div>
      </div>
    </section>
  </div>

