<div class="row">
  <div class="col">
	<div class="shop_orders_list"></div>
   </div>
</div>
<div class="row">
  <div class="col text-center">
       <button class="btn btn-sm btn-green basket_item_status_create_application">Заказать</button>
  </div>
 </div>
</div>		
<script src="/main/pages/telegram/jobs/js/shop_application.js"></script>
