<div class="w-100">
<div class="row page_title_row">
	<div class="col page_title"><i class="fa fa-map"></i> Адрес доставки</div>
</div>
<div class="row">
    <div class="card  w-100" style="margin: 0.8rem; padding: 1rem;">
	<div class="row input-group"><div class="col delivery_firstname">Имя: {{user.first_name}}</div></div>
	<div class="row input-group"><div class="col delivery_lastname" >Фамилия: {{user.last_name}}</div></div>
	<div class="row input-group"><div class="col delivery_username" >Telegram-контакт:&nbsp; 
		<a href="https://t.me/{{user.username}}">{{user.username}}</a>
	  </div></div>
    </div>
</div>

<div class="row">

</div>

<div class="row"><div class="shop_orders_list"></div></div>
<div class="row"><div class="col text-center"><button class="float-center btn btn-sm btn-green basket_item_status_create_application">Сохранить</button></div></div>
</div>
<script src="/main/pages/telegram/jobs/js/shop_delivery.js"></script>
