<div class="w-100">
<div class="row">
	<input type="hidden" id ="application_id"  value="{{application_id}}">
</div>
<div class="row">
	<div class="application-execute-card" rel ="{{application_id}}" style="margin: 0.8rem;"></div>
</div>
</div>
<script src="/main/pages/telegram/jobs/js/shop_application_execute.js"></script>

