 <div class="card current_user w-100">
    <div class="row">
		  <h2>Ваши данные</h2> 
    </div>
 <div class="row">
	<div class="row input-group"><div class="col current_user_firstname"></div></div>
	<div class="row input-group"><div class="col current_user_lastname"></div></div>
	<div class="row input-group"><div class="col current_user_username"></div></div>
    </div>
</div>
