<!-- CSS файлы Slick Carousel -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<!-- JavaScript файлы Slick Carousel -->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<div class="w-100">
 <div class="row">
    <div class="w-100 shop_pult_panel"></div>	    
</div>
<div class="row">
   <div class=" shop-pult w-100" >
		<div class=" p-0 border-bottom-0">
			<ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
				 <li class="nav-item">
				   <a class="nav-link active d-none" id="custom-tabs-four-shops-tab" data-toggle="pill"
					 href="#custom-tabs-four-shops" role="tab" aria-controls="custom-tabs-four-shops" aria-selected="true"><h3>Магазины</h3></a>
				 </li>                                                                    
				 <li class="nav-item">
				   <a class="nav-link d-none" id="custom-tabs-four-services-tab" data-toggle="pill" 
					href="#custom-tabs-four-services" role="tab" aria-controls="custom-tabs-four-services" aria-selected="false"><h3>Услуги</h3></a>
				 </li>
				 <li class="nav-item">
				   <a class="nav-link d-none" id="custom-tabs-four-ads-tab" data-toggle="pill" 
					href="#custom-tabs-four-ads" role="tab" aria-controls="custom-tabs-four-ads" aria-selected="false"><h3>Обьявления</h3></a>
			 	</li>
				 <li class="nav-item">
				   <a class="nav-link d-none" id="custom-tabs-four-jobs-tab" data-toggle="pill" 
					href="#custom-tabs-four-jobs" role="tab" aria-controls="custom-tabs-four-jobs" aria-selected="false"><h3>Работа</h3></a>
			 	</li>
				 <li class="nav-item">
				   <a class="nav-link d-none" id="custom-tabs-four-contacts-tab" data-toggle="pill" 
					href="#custom-tabs-four-contacts" role="tab" aria-controls="custom-tabs-four-contacts" aria-selected="false">
					<h3><i class="fa-regular fa-envelope" ></i> Контакты</h3></a>
			 	</li>
			     <li class="nav-item">
				   <a class="nav-link d-none" id="custom-tabs-four-profile-tab" data-toggle="pill" 
					href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">
					<h3><i class="fa-solid fa-gear"></i> Профиль</h3></a>
			 	</li>	

			</ul>
		</div>
  <div class="card-body">
    <div class="tab-content" id="custom-tabs-four-tab">
<!-- Услуги -->		
		<div class="tab-pane fade d-none" id="custom-tabs-four-services" role="tabpanel" aria-labelledby="custom-tabs-four-services-tab">
	 	   	<div class="row">
	     		  <div class="col w-100" ><h2>Категории</h2></div> 
	   		</div>

			 <div class="row">
			    <div class="col w-100 service_pult_panel"></div>	    
			</div>

			<div class="row">
			    <div class="col w-100 service-category-pult-panel category-dialog"><img src="/main/images/loaders/loading_v1.gif"></div>	    
			</div>

			<div class="row">
				 <div class="col w-100" ><h2>Специалисты</h2></div> 				 
			</div>
			<div class="row">
				<div class="col w-100 service-pult-panel list-pult-panel"><img src="/main/images/loaders/loading_v1.gif"></div>	
			</div>
		</div>

<!-- Работа -->
		<div class="tab-pane fade d-none" id="custom-tabs-four-jobs" role="tabpanel" aria-labelledby="custom-tabs-four-jobs-tab">
	  	   <div class="card-header p-0 border-bottom-0">
				<ul class="nav nav-tabs" id="custom-tabs-four-job-tab" role="tablist">
				 <li class="nav-item">
				   <a class="nav-link active" id="custom-tabs-four-job-vacancy-tab" data-toggle="pill"
					 href="#custom-tabs-four-job-vacancy" role="tab" aria-controls="custom-tabs-four-job-vacancy" aria-selected="true"><h3>Вакансии</h3></a>
				 </li>                                                                    
				 <li class="nav-item">
				   <a class="nav-link" id="custom-tabs-four-job-resume-tab" data-toggle="pill" 
					href="#custom-tabs-four-job-resume" role="tab" aria-controls="custom-tabs-four-job-resume" aria-selected="false"><h3>Резюме</h3></a>
				 </li>				 
    		  </ul>
			</div>
			<div class="tab-content" id="custom-tabs-four-job-tab">
				<div class="tab-pane fade active show" id="custom-tabs-four-job-vacancy" role="tabpanel" aria-labelledby="custom-tabs-four-job-vacancy-tab">
 				  <div class="card job-search-dialog" >
					<div class="row">
			       		<div class="col w-100" ><h2>Найти работу</h2></div> 
		    		</div>
					<div class="row">							
						<div class="col">
		                        <input type="search" class="form-control" placeholder="Найти работу" id="search" name="search" style="height: calc(1.55rem + 15px); font-size: 1rem; padding-left: 0.5rem;" value="">
						</div>
					</div>
					<div class="row">
						<div class="col w-100">
							<button class="btn w-100 btn-lg btn-card-add showcase-card-btn" rel="88aa0800-1343-11ec-aecd-0242ac140006">Найти вакансию <i class="fas fa-cart-plus fa-sm mr-1"></i></button>
						</div>
					</div>
				</div>	
				<div class="row">
			       		<div class="col w-100" ><h2>Найденные вакансии</h2></div> 
		    	</div>

				 <div class="card job-search-list-dialog" >
<!-- найденная вакансия -->
				<div class="col w-100">
       				<div class="fotorama" 
				        data-transition="crossfade"
				        data-arrows="false"
						data-loop="true"
						data-autoplay="false" 
						data-fit="cover">
	  	  				<img src="http://127.0.0.1:3000/main/pages/telegram/jobs/images/shops/SERVICE.LOADERS/cards/product.5.png">
				</div>
    		</div>
			<div class="row">			    					
              <div class="col w-100">
				<div class="w-100 job-pult-panel-item-description">
	                  <div class="row w-100 job-pult-panel-item-title">
						<h2>Требуются грузчики</h2>
					  </div>
  						  <div class="row job-pult-panel-item-description-price">
								
								<div class="col-12">6000</div>
						  </div> 
						  <div class="row job-pult-panel-item-description-company">
								<div class="col-1"><i class="fa-solid fa-people-roof"></i></div>
								<div class="col-11">Флора Арт</div>
						  </div>
						  <div class="row job-pult-panel-item-description-phone">
								<div class="col-1"><i class="fas fa-phone"></i></div>
								<div class="col-11">999-999-9999</div>
						  </div>
						  <div class="row job-pult-panel-item-description-town">
								<div class="col-1"><i class="fas fa-location "></i></div>
								<div class="col-11">Советская гавань</div>
	 					  </div>							  
  				 		</div>
		      		</div>	
				</div>   	
					   <div class="row">
					      <div class="col">
					         <div class="shop_card__btn"><!-- Кнопка зайти в магазин -->					          
					           <button class="btn w-100 btn-lg btn-card-add showcase-card-btn" rel="88aa0800-1343-11ec-aecd-0242ac140006">Подробнее<i class="fas fa-cart-plus fa-sm mr-1"></i></button>
					         </div>
					     </div>
   		            </div>					
<!-- найденное обьявление -->

				 </div>
			</div>


				<div class="tab-pane fade" id="custom-tabs-four-job-resume" role="tabpanel" aria-labelledby="custom-tabs-four-job-resume-tab">
					Резюме
				</div>								
			</div>					
	 	</div>
<!-- Нам письмо -->
<div class="tab-pane fade d-none" id="custom-tabs-four-contacts" role="tabpanel" aria-labelledby="custom-tabs-four-contacts-tab">
    <div class="row">
			       <div class="col w-100" ><h2>Отправить нам письмо</h2></div> 
		    	</div>
				<div class="row">
					      <div class="col">
					         <div class="shop_card__btn">
					           <button class="btn w-100 btn-lg btn-primary send-to-bot-btn" rel="88aa0800-1343-11ec-aecd-0242ac140006"><a href="https://t.me/SovgavanBot">Прислать новость</a> <i class="fa-regular fa-envelope"></i></button>
					         </div>
					     </div>
   		            </div>		
		    <div class="row">
				 	<div class="col"><hr></div>
			</div>				 				   
</div>		
<!-- Профиль-->
		<div class="tab-pane fade d-none" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
			<div class="row">
				 <div class="col">
			        	  <x-element-contact-form-component class="pult-x-element-contact-form-component"></x-element-contact-form-component>
			    	 </div>
		    </div>
			<div class="row">
			       <div class="col w-100" ><h2>Укажите ваш город</h2></div> 
		    </div>

			<div class="row">
				 	<div class="col">
			        	  <x-autocomplete class="user-town-select"></x-autocomplete>
			    	 </div>
			</div>	
						
			<div class="row">
			      <div class="col">
				        <div class="user-town-button-element"></div>
			     </div>
   		    </div>


			   <div class="row">
			      <div class="col w-100 profile-category-pult-panel category-dialog">					
			      </div>	    
			    </div>

	 	</div>
<!-- Обьявления -->
		<div class="tab-pane fade d-none" id="custom-tabs-four-ads" role="tabpanel" aria-labelledby="custom-tabs-four-ads-tab">

			<div class="card-header p-0 border-bottom-0">
				<ul class="nav nav-tabs" id="custom-tabs-four-ads-tab" role="tablist">
				 <li class="nav-item">
				   <a class="nav-link active" id="custom-tabs-four-ads-sale-tab" data-toggle="pill"
					 href="#custom-tabs-four-ads-sale" role="tab" aria-controls="custom-tabs-four-ads-sale" aria-selected="true"><h3>Продать</h3></a>
				 </li>                                                                    
				 <li class="nav-item">
				   <a class="nav-link" id="custom-tabs-four-ads-buy-tab" data-toggle="pill" 
					href="#custom-tabs-four-ads-buy" role="tab" aria-controls="custom-tabs-four-ads-buy" aria-selected="false"><h3>Купить</h3></a>
				 </li>
				 <li class="nav-item">
				   <a class="nav-link" id="custom-tabs-four-ads-change-tab" data-toggle="pill" 
					href="#custom-tabs-four-ads-change" role="tab" aria-controls="custom-tabs-four-ads-change" aria-selected="true"><h3>Обменять</h3></a>
			 	</li>
				 <li class="nav-item">
				   <a class="nav-link" id="custom-tabs-four-ads-give-tab" data-toggle="pill" 
					href="#custom-tabs-four-ads-give" role="tab" aria-controls="custom-tabs-four-ads-give" aria-selected="true"><h3>Подарить</h3></a>
			 	</li>				 
    		  </ul>
			</div>
	<div class="tab-content" id="custom-tabs-four-ads-tab">
		<div class="tab-pane fade active show" id="custom-tabs-four-ads-sale" role="tabpanel" aria-labelledby="custom-tabs-four-ads-sale-tab">  		
			<div class="row">
				<div class="col w-100" ><h2>Категории</h2></div> 
		 	</div>
			   <div class="row">
			      <div class="col w-100 ads-category-pult-panel sale category-dialog">					
			      </div>	    
			    </div>							

			<div class="row">
				<div class="col w-100" ><h2>Обьявления о продаже</h2></div> 
		 	</div>

			<div class="row">
				<div class="col w-100 ads-pult-panel sale list-pult-panel"></div>	
			</div>
	</div>
		<div class="tab-pane fade" id="custom-tabs-four-ads-buy" role="tabpanel" aria-labelledby="custom-tabs-four-ads-buy-tab">
   	    	<div class="row">
				<div class="col w-100" ><h2>Категории</h2></div> 
		 	</div>
			   <div class="row">
			      <div class="col w-100 ads-category-pult-panel buy category-dialog">					
			      </div>	    
			    </div>						
			<div class="row">
				<div class="col w-100" ><h2>Обьявления о покупке</h2></div> 
		 	</div>
			<div class="row">
				<div class="col w-100 ads-pult-panel buy list-pult-panel"></div>	
			</div>
			
		</div>
	<div class="tab-pane fade" id="custom-tabs-four-ads-change" role="tabpanel" aria-labelledby="custom-tabs-four-ads-change-tab">
						<div class="row">
							<div class="col w-100" ><h2>Категории</h2></div> 
		 					</div>
			   				<div class="row">
							      <div class="col w-100 ads-category-pult-panel change category-dialog">									
			      				</div>	    
		    				</div>	
			<div class="row">
				<div class="col w-100" ><h2>Обьявления об обмене</h2></div> 
		 	</div>
			<div class="row">
				<div class="col w-100 ads-pult-panel change  list-pult-panel"></div>	
			</div>

						</div>
				<div class="tab-pane fade" id="custom-tabs-four-ads-give" role="tabpanel" aria-labelledby="custom-tabs-four-ads-give-tab">
						<div class="row">
				<div class="col w-100" ><h2>Категории</h2></div> 
		 	</div>
			   <div class="row">
			      <div class="col w-100 ads-category-pult-panel give category-dialog">					
			      </div>	    
			    </div>							
			<div class="row">
				<div class="col w-100" ><h2>Обьявления о дарении</h2></div> 
		 	</div>
			<div class="row">
				<div class="col w-100 ads-pult-panel give list-pult-panel"></div>	
			</div>
				</div>
			</div>

		</div>
<!-- Магазины -->
		<div class="tab-pane fade active show d-none" id="custom-tabs-four-shops" role="tabpanel" aria-labelledby="custom-tabs-four-shops-tab">
			<div class="row">
 	   	 	   <div class="col w-100 ml-auto mr-auto text-right">
				  <x-link class="user-location-link" style="display: block;"></x-link>
			   </div> 
			</div>	

			<div class="row">
 	   	 	   <div class="col w-100" ><h2>Категории</h2></div> 
			</div>	

			<div class="row">
			    <div class="col w-100 shop-category-pult-panel category-dialog"></div>	    
			</div>

			<div class="row">
				 <div class="col w-100" ><h2>Магазины</h2></div> 
			</div>
			<div class="row">
				<div class="col w-100 shop-pult-panel  list-pult-panel"></div>	
			</div>
			<div class="row">
				      <div class="col">				         
				           <button class="d-none btn btn-block btn-outline-primary btn-lg shop-loader-btn" style="margin-top: 5rem;" >Загрузить еще <i class="fa-solid fa-plus"></i></button>
				     </div>
	        </div>		

       </div>
<!--  -->

     </div>
	 </div>
    </div>
  </div>
</div>  

  <script>
  $(document).ready(function(){
    $('.shop-pult-panel-item-casegoods').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      dots: false,
      infinite: true,
	speed: 500,
    // Добавьте другие опции и параметры карусели, если необходимо
   });
  });

  </script>

