<div class="w-100">
   <div class="card  w-100" style="margin: 0.8rem; padding: 1rem;">
	      <div class="row">
		     <div class="col w-100 text-left profile-field-title" >Галерея изображений</div> 
          </div>     
          <div class="row">
           <div class="w-100 card" style="margin: 1rem 2rem 0rem 1.5rem;">
	      <div class="row" style="padding: 1rem;">
 	        <div class="col-sm-4">
	         <div class="shop_about_page_btns w-100"> 
		      <form id="fileupload" name="fileupload">  	  	   
			<button class="btn mt-auto p-2 float-right btn-sm btn-red profile-image-change">
			  <i class="fas fa-image"></i>
			  <input id="photofile" name="photofile" type="file"  accept=".jpg, .jpeg, .png" name="files[]" multiple style="opacity: 0; width: 100%; position: absolute; left: 0; top: 0;">
			  Добавить картинку
			</button>
		      </form>
	           </div>		
                </div>
   	    </div>
  	       <div class="col-sm-8 about-images-gallery" ></div> 
          </div>
          </div>
          <div class="row input-group">
	    <div class="col" style="margin: 0.5rem 0.5rem;">
	        <span class="about-images-gallery-error"></span>
	   </div>
          </div>
          <div class="row">
		<div class="col callout callout-info" style="margin: 0rem 2rem 1.5em 1.5rem;">
			<p>Из галереи вы можете их добавить в текст описания вашего магазина.</p>
		</div>
	      </div>

	      <div class="row">
	       <div class="col w-100 text-left profile-field-title">Описание</div>
	      </div>

	      <div class="row input-group">
	             <div class="logistic_editor_textarea w-100" >
                     <div class="col" >
				        <textarea  id="shop_logistic_description" rows=25  placeholder="Внесите описание процесса оплаты и доставки товара"  class="form-control editor-textarea" ></textarea>
		            </div>
  	            </div>
	      </div>	

			<div class="row input-group" style="padding: 1rem;">
	     		<button class="w-100 btn btn-lg btn-success logistic-editor-save-btn">Сохранить</button>
			</div>
   	</div>  
</div>

<script src="/main/pages/telegram/jobs/js/shop_logistic_editor.js"></script>