<div class="shop_promo_page w-100">
<div class="w-100">
   <img src="{{cardImage}}" class = "shop_card_image"/>
</div>

<div class="shop_footer w100">
{{#ifEquals shop.category_id "JOBS" }}
     <button class = "btn btn-lg btn-{{shop.theme}}" onclick="redirectToAnotherPage('showcase')">Наши вакансии</button>
{{else}}
     <button class = "btn btn-lg btn-{{shop.theme}}" onclick="redirectToAnotherPage('showcase')">Зайти в магазин</button>
{{/ifEquals}}

   </div>
</div>


<script src="/main/pages/telegram/jobs/js/shop_promo.js"></script>
