<div class="card">
                   <div class="card-header">
	                <h3 class="card-title">Публикация в каналах и чатах</h3>
                          <div class="clearfix profile-access-function-navigation" ></div>
                  </div>
              <!-- /.card-header -->
    <div class="card-body">
       <div class="row">
	        <div class="col-sm-6">
		  	       <div class="w-100">
            		    <div class="input-group">
		       				<div class="w-100 publication-channels-poligon">
<!--  -->
        	

               <div class="row">
                	<div class="col-sm">		  	
		            <button type="button" href="#" class="btn float-left btn-outline-primary new-function-add-btn" style="margin: 0 0 2rem 0;"><i class="fas p-1 fa-plus"></i>Канал или чат</button>
	                </div>	
                </div>	
                <div class="row">
                	<div class="col-sm">		  	
        	             <div class="new-function-add-element d-flex"></div>
	                </div>	
                </div>	

				<div class="row">
                <table class="table table-bordered profile-access-function shadow">
                  <thead>
                    <tr>
                      <th style="width: 10px; vertical-align: middle;">#</th>
                      <th>Название канала/чата<br><br><select class="function-access-service-names-filter form-control"  style="height: 2rem;"><option selected></option></select></th>
                      <th>Id чата<br><br><select class="function-access-function-names-filter form-control"  style="height: 2rem;"><option selected></option></select></th>
                      <th style="width: 40px">#<br><br></th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
				</div>
              
              <!-- /.card-body -->
			  <div class="row">
				<div class="card-footer clearfix profile-access-function-navigation" ></div>
			  </div>
              

<!-- -->

			       </div>
			   </div>
 	       	       </div>
              </div>		               
            <div class="col-sm-6">
				   <!-- start -->
                    <div class="w-100">
       <div class="row">
	     <div class="col-sm">
	            <div class="input-group mb-3">
			<label for="fio" class="col-form-label font-weight-normal w-100 font-weight-bold">Заголовок</label></br>
  	   	  	  <input type="text" id="publication-title" name="publication_description" class="form-control" placeholder="Введите заголовок статьи..." 
		  	  style="height: calc(1.55rem + 1*15px); font-size: 1rem; padding-left: 0.5rem;"/>
  	            </div>		
              </div>		               
		</div>		    
       <div class="row">
	     <div class="col-sm">
	            <div class="input-group mb-3">
			<label for="fio" class="col-form-label font-weight-normal w-100 font-weight-bold">{{labels.dialogChangeObjectTab1.description}}</label></br>
  	   	  	  <textarea id="publication-description" name="publication_description" class="editor-textarea form-control" rows="5" placeholder="Введите {{labels.dialogChangeObjectTab1.description}}..." 
		  	  style="height: calc(1.55rem + 10*15px); font-size: 1rem; padding-left: 0.5rem;"></textarea>
  	            </div>		
              </div>		               
	      </div>		                                          

         <div class="row">
	         <div class="row">
        	       	<div class="col-sm">		  	
				<label for="fio" class="col-form-label font-weight-normal w-100 font-weight-bold">Медиа</label></br>
	                </div>	
                	<button type="button" href="#" class="btn float-left btn-outline-primary new-function-add-btn" style="margin: 0 0 2rem 0;"><i class="fas p-1 fa-plus"></i></button>
	     	</div>		
	     </div>		

         <div class="row">
			<div class="col-sm">
	            	  <div class="input-group">
				       <div class="col-sm-10 publication-add-media-poligon">
	        	                
				       </div>
			  </div>
            </div>
	 	</div>		



         <div class="row">
               <div class="row">
                	<div class="col-sm">		  	
	   	    	    <label for="fio" class="col-form-label font-weight-normal w-100 font-weight-bold">Тэги</label></br>
	                </div>	
	            <button type="button" href="#" class="btn float-left btn-outline-primary new-function-add-btn" style="margin: 0 0 2rem 0;"><i class="fas p-1 fa-plus"></i></button>
                </div>	
          </div>		

         <div class="row">
			<div class="col-sm">
	            	  <div class="input-group">
			      <div class="input-group-prepend">
			       <input id="publication-change-blocked" name="publication_change_blocked"  class="form-control" type="checkbox" style="width: 1rem; height: 1rem; margin-top: 1rem;"  >
			     </div>
			       <div class="col-sm text-left public-tags"  style="padding-top: 0.6rem;">
			  	<label for="blocked" class="col-form-label font-weight-normal w-100">#самсебережисер#всовгаваньрфпишут</label>
			      </div>
			  </div>
 	               </div>
          </div>

          <div class="row">
			<div class="col-sm">
	            	  <div class="input-group">
			      <div class="input-group-prepend">
			       <input id="publication-change-blocked" name="publication_change_blocked"  class="form-control" type="checkbox" style="width: 1rem; height: 1rem; margin-top: 1rem;"  >
			     </div>
			       <div class="col-sm text-left public-tags"  style="padding-top: 0.6rem;">
			  	<label for="blocked" class="col-form-label font-weight-normal w-100">#советскаягавань#совгавань#ванино#заветыильича#монгохто</label>
			      </div>
			  </div>
 	               </div>
          </div>

          <div class="row">
			<div class="col-sm">
	            	  <div class="input-group">
			      <div class="input-group-prepend">
			       <input id="publication-change-blocked" name="publication_change_blocked"  class="form-control" type="checkbox" style="width: 1rem; height: 1rem; margin-top: 1rem;"  >
			     </div>
			       <div class="col-sm text-left public-tags"  style="padding-top: 0.6rem;">
			  	<label for="blocked" class="col-form-label font-weight-normal w-100">#новости#юмор#побережье#знакомства#лентановостей#чп</label>
			      </div>
			  </div>
 	               </div>
          </div>

             </div>
				   <!-- end -->
        </div>
     </div>         
  </div>
</div>
