<input type=hidden id="user_id_trip" value="{{userId}}">
<input type=hidden id="date_trip" value="{{dateTrip}}">
<div class="card" style="width:100%; display: inline-flex;">
    <div class="card-body">
<div class="row" style="height: 97.3%;  padding: 5px;">
   <div class="col-sm-2" ><i class="fa fa-play fa-min"></i><span class="trip-report-person-name"><b>Фамилия, имя, отчество:</b></span></div>
   <div class="col-sm-4"><span class="trip-report-person-name-value"/></div>
   <div class="col-sm-2"><i class="fa fa-play fa-min"></i><span class="trip-report-date"><b>Дата маршрута:</b></span></div>
   <div class="col-sm-4"><span class="trip-report-date-value"/></div>
</div>
<div class="row" style="height: 97.3%;  padding: 5px;">
   <div class="col-sm-2"><i class="fa fa-play fa-min"></i><span class="trip-report-org-name"><b>Организация:</b></span></div>
   <div class="col-sm-4"><span class="trip-report-org-name-value"/></div>
   <div class="col-sm-2"><i class="fa fa-play fa-min"></i><span class="trip-report-group-name"><b>Группа:</b></span></div>
   <div class="col-sm-4"><span class="trip-report-group-name-value"/></div>
</div>
<div class="row" style="height: 97.3%;  padding: 5px;">
   <div class="col-sm-2"><i class="fa fa-play fa-min"></i><span class="trip-report-location-name"><b>Локация:</b></span></div>
   <div class="col-sm-4"><span class="trip-report-location-name-value"></span></div>
</div>


<div class="row" style="height: 97.3%;  padding: 5px;">
  <div class="col-sm" >
     <table id="table_trip_report" name="table_trip_report" class="table table-striped table-bordered" style="width:100%; font-size:13px; padding: 5px;">
      <thead>
        <tr class="header-first" >
            <th class="col-sm-0 text-center align-middle trip-report"><b>#</b></th>
            <th class="col-sm-1 text-center align-middle trip-report"><b>Время</b></th>
            <th class="col-sm-1 text-center align-middle trip-report"><b>Запрос</b></th>
            <th class="col-sm-1 text-center align-middle trip-report"><b>Обьект</b></th>
            <th class="col-sm-1 text-center align-middle trip-report"><b>Транспорт</b></th>
            <th class="col-sm-1 text-center align-middle trip-report"><b>Описание</b></th>

            <th class="col-sm-4 text-center align-middle trip-report"><b>Откуда</b></th>
            <th class="col-sm-4 text-center align-middle trip-report"><b>Куда</b></th>

            <th class="col-sm-0 text-center align-middle trip-report"><b>Дист-я</b></th>
            <th class="col-sm-0 text-center align-middle trip-report"><b>Дист-я польз-я</b></th>
            <th class="col-sm-0 text-center align-middle trip-report"><b>Время</b></th>
            <th class="col-sm-0 text-center align-middle trip-report"><b>Статус</b></th>
            <th class="col-sm-0 text-center align-middle trip-report"><b>+</b></th>
        </tr>
    </thead>
       <tbody class='trip-report'>
       </tbody>
     </table>
   </div>

</div>
    </div>
   </div>
 </div>
  <!-- /.card-body -->
   </div>

