<div class="w-100" >
 <div class="row">
   <div class="col-sm">
     <div class="row" style="padding:5px;">
       <h2>Доступ к обьектам</h2>
     </div>

     <div class="row">
          <div class="card container-fluid help-card-container d-none" > </div>
          {{>dialog.objectZone.editor}}
          <div class="card container-fluid geozone-card-container" id="poligon-objects-list" >
              <div class="card-header object-list-dialog">
	             <button type="button" class="ml-auto p-2 btn float-left btn-outline-primary" >Добавить обьект</button>
                 <div class="clearfix profile-access-objects-navigation" ></div>
              </div>
    
  	
     <div class="card-body">
      <div class="row">
        <div class="col-sm">
          <div class="card container-fluid" id="object-editor-dialog" style="display:none;" >
			<div class="card-body" >
  			   {{>dialog.changeObject}}
			</div>
	          </div>
	          <div class="object-list-dialog">
                   <table class="table table-bordered profile-access-objects shadow">
                    <thead>
                      <tr>
                        <th style="width: 10px; vertical-align: middle;">#</th>
                        <th>  
			  <div class="btn-group w-100">      
			     <input class="group-access-objects-names-filter form-control"  placeholder="Введите идентификатор обьекта" style="height: 2rem">
			        <button type="button" class="btn btn-lg  btn-tool geozone-input-clear-btn">
			        <i class="fas fa-times"></i>
			      </button>
			   </div>
			  <div class="btn-group w-100" style="padding-top: 0.5rem;">      
				<select class="group-access-objects-category-filter form-control"  style="height: 2rem;"><option selected></option>
				</select>
			        <button type="button" class="btn btn-lg btn-tool group-access-objects-category-filter-clear-btn">
			        <i class="fas fa-times"></i>
			      </button>
			      </button>
			   </div>
  	  		</th>
                        <th style="width: 40px; vertical-align: middle;">
			ON/OFF<br/><br/>
			<div class="custom-control custom-switch text-center"
                             data-toggle="tooltip" data-placement="top" title="" data-original-title="Вывод заблокированных или разблокированных обьектов">        
				<input type="checkbox" class="custom-control-input profile-access-objects-blocked-sorted" id="access-objects-blocked-sorted" value="FALSE">        
				<label class="custom-control-label" for="access-objects-blocked-sorted"></label>     
			</div>
			</th>
                        <th style="width: 40px"></th>
                        <th style="width: 40px"></th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
             </div>
            </div>  
          <div class="card-footer clearfix profile-access-objects-navigation object-list-dialog" ></div>
        </div>
     </div>
    </div>
   </div>
  </div>
</div>

