	<div class="card" >
              <div class="card-header">
                <h3 class="card-title">Доступ к функциям сервисов</h3>
                <div class="clearfix profile-access-function-navigation" ></div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered profile-access-function shadow">
                  <thead>
                    <tr>
                      <th style="width: 10px; vertical-align: middle;">#</th>
                      <th>Сервис<br><br><select class="function-access-service-names-filter form-control"  style="height: 2rem;"><option selected></option></select></th>
                      <th>Функция<br><br><select class="function-access-function-names-filter form-control"  style="height: 2rem;"><option selected></option></select></th>
                      <th style="width: 40px">ON/OFF<br><br></th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix profile-access-function-navigation" ></div>
            </div>