<div class="tab-content" id="custom-tabs-one-tabContent">

      <div class="tab-pane fade show active" id="custom-tabs-one-1" role="tabpanel" aria-labelledby="custom-tabs-one-1-tab">
	{{>user_profile_tab_item_main}}
      </div>
      {{#if access.service_access_groups }}
	     <div class="tab-pane fade" id="custom-tabs-one-2" role="tabpanel" aria-labelledby="custom-tabs-one-2-tab">
			{{>user_profile_tab_item_groups}}
	      </div>
      {{/if}}	

      {{#if access.service_access_services }}
	      <div class="tab-pane fade" id="custom-tabs-one-3" role="tabpanel" aria-labelledby="custom-tabs-one-3-tab">
			{{>user_profile_tab_item_services}}
	      </div>
      {{/if}}	

      {{#if access.service_access_functions }}
	       <div class="tab-pane fade" id="custom-tabs-one-4" role="tabpanel" aria-labelledby="custom-tabs-one-4-tab">
			{{>user_profile_tab_item_functions}}
	      </div>
      {{/if}}	

      {{#if access.service_access_roles }}
	      <div class="tab-pane fade" id="custom-tabs-one-5" role="tabpanel" aria-labelledby="custom-tabs-one-5-tab">
			{{>user_profile_tab_item_roles}}
	      </div>
      {{/if}}	

      {{#if access.service_access_objects }}
	      <div class="tab-pane fade" id="custom-tabs-one-6" role="tabpanel" aria-labelledby="custom-tabs-one-6-tab">
			{{>user_profile_tab_item_objects}}
	      </div>
      {{/if}}	

      {{#if access.service_access_geozones }}
	      <div class="tab-pane fade" id="custom-tabs-one-7" role="tabpanel" aria-labelledby="custom-tabs-one-7-tab">
			{{>profile.geozones.tab}}
	      </div>
      {{/if}}	

</div>
