<div class="card"  >
              <div class="card-header">
                <h3 class="card-title">Доступ к группам и организациям</h3>
                <div class="clearfix profile-access-group-navigation" ></div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered profile-access-group shadow">
                  <thead>
                    <tr>
                      <th style="width: 10px; vertical-align: middle;">#</th>
                      <th>Организация<br><br><select class="group-access-org-names-filter form-control"  style="height: 2rem;"><option selected></option></select></th>
                      <th>Группа<br><br><select class="group-access-group-names-filter form-control"  style="height: 2rem;"><option selected></option></select></th>
                      <th style="width: 40px">ON/OFF<br><br></th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix profile-access-group-navigation" ></div>
            </div>