          <div class="card"  >
              <div class="card-header">
                <h3 class="card-title">Доступ к сервисам</h3>
                <div class="clearfix profile-access-services-navigation" ></div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
               <div class="row">
                	<div class="col-sm">		  	
		            <button type="button" href="#" class="btn float-left btn-outline-primary new-service-add-btn" style="margin: 0 0 2rem 0;"><i class="fas p-1 fa-plus"></i>Добавить сервис</button>
	                </div>	
                </div>	
                <div class="row">
                	<div class="col-sm">		  	
        	             <div class="new-service-add-element d-flex"></div>
	                </div>	
                </div>	

                <table class="table table-bordered profile-access-services shadow">
                  <thead>
                    <tr style="text-align: center;">
                      <th style="vertical-align: middle; width: 10px; vertical-align: middle;">#</th>
                      <th style="vertical-align: middle; width: 80%">Сервисы<br><br><select class="group-access-services-names-filter form-control"  style="height: 2rem; "><option selected></option></select></th>
                      <th style="vertical-align: middle; width: 10%">HHTP METHOD</th>
                      <th style="vertical-align: middle; width: 10%">URL</th>
                      <th style="vertical-align: middle; width: 10%">TAG</th>
                      <th style="vertical-align: middle; width: 10px">ACTIVE</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix profile-access-services-navigation" ></div>
            </div>