/* dropdown-section.css */
:root {
  --logistic-flex-container-font-size: 0.82rem;
  --logistic-flex-container-h3: 1rem;
  --logistic-flex-container-h2: 1.1rem;
  --logistic-flex-container-h1: 1.2rem;
  --logistic-flex-container-line-height: 1.3;
  --logistic-flex-container-font-color: #8c8c8c;
  --logistic-faq-container-font-color: #404040;
}

.dropdown-section {
    background-color: #fff;
    border-radius: 0.5rem; /* 8px */
    box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.1); /* 0 2px 5px */
    padding: 1rem;
    margin: 0 0 0.31rem;
    font-size: var(--logistic-flex-container-font-size);
    color: var(--logistic-faq-container-font-color);
    font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe WP", Roboto, Ubuntu, Oxygen, Cantarell, "Fira Sans", "Helvetica Neue", Helvetica, "Lucida Grande", "Droid Sans", Tahoma, "Microsoft Sans Serif", sans-serif;

}

.dropdown-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 0.5rem; /* 8px */
}

.dropdown-section__header h1 {
    margin: 0;
    font-weight: 500;
    font-size: var(--logistic-flex-container-h1);
    color: #2c3e50;
    font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe WP", Roboto, Ubuntu, Oxygen, Cantarell, "Fira Sans", "Helvetica Neue", Helvetica, "Lucida Grande", "Droid Sans", Tahoma, "Microsoft Sans Serif", sans-serif;
}

.dropdown-section__header h2 {
    margin: 0;
    font-weight: 500;
    color: #2c3e50;
    font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe WP", Roboto, Ubuntu, Oxygen, Cantarell, "Fira Sans", "Helvetica Neue", Helvetica, "Lucida Grande", "Droid Sans", Tahoma, "Microsoft Sans Serif", sans-serif;
}

.dropdown-section__header h3 {
    margin: 0;
    font-weight: 500;
    color: #2c3e50;
    font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe WP", Roboto, Ubuntu, Oxygen, Cantarell, "Fira Sans", "Helvetica Neue", Helvetica, "Lucida Grande", "Droid Sans", Tahoma, "Microsoft Sans Serif", sans-serif;
}

.dropdown-section__toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #2980b9;
}

.dropdown-section__content {
    display: none;
    background: #fff;
    margin-top: 0.5rem;
    font-size: var(--logistic-flex-container-font-size);
    margin-bottom: 0.625rem;
    color: var(--logistic-flex-container-font-color);
}

.dropdown-section.dropdown-open .dropdown-section__content {
    display: block;
}



.footer__btn-open {
    background-color: initial;
    border: none;
    flex-shrink: 0;
    font-size: 0;
    height: 1.25rem; /* 20px */
    margin-left: 1.875rem; /* 30px */
    position: relative;
    width: 1.75rem; /* 28px */
}

.footer__btn-open:before {
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M6.66989%207.51224C6.29992%207.89566%205.70008%207.89566%205.33011%207.51224L0.277477%202.27587C-0.0924931%201.89245%20-0.0924931%201.2708%200.277477%200.887372C0.647447%200.503949%201.24729%200.503949%201.61726%200.887372L6%205.42949L10.3827%200.887372C10.7527%200.503949%2011.3526%200.503949%2011.7225%200.887372C12.0925%201.2708%2012.0925%201.89245%2011.7225%202.27587L6.66989%207.51224Z%22%20fill%3D%22%23A9A8B0%22%2F%3E%0A%3C%2Fsvg%3E%0A") 50% no-repeat;
    content: "";
    display: block;
    height: 0.625rem; /* 10px */
    position: absolute;
    right: 0;
    top: 0.3125rem; /* 5px */
    transition: transform 0.3s ease 0s;
    width: 1rem; /* 16px */
}

.dropdown-open .footer__btn-open:before {
    transform: rotate(180deg);
}

.dropdown-link .footer__btn-open:before {
    transform: rotate(-90deg);
}


dropdown-section ul {
    list-style-type: disc;
    padding-left: 1.25rem;
    color: var(--logistic-flex-container-font-color);
}

.dropdown-section__content {
  font-size: 1rem;
}


