    <!-- Контейнер для карточек -->
<div class="product-card-container"></div>
<script src="/main/pages/telegram/jobs/js/components/top-header/top-header.js"></script>                                    +
<script src="/main/pages/telegram/jobs/js/components/product-card/product-card.js"></script>
<script src="/main/pages/telegram/jobs/js/shop_showcase.js"></script>