:root {
  --sended-backgroupd-color : background: linear-gradient(#3498db, #005d9b);
  --confirmed-backgroupd-color : background: linear-gradient(#3498db, #005d9b);
  --new-backgroupd-color : background: linear-gradient(#3498db, #005d9b);
  --send-to-seller-backgroupd-color : background: linear-gradient(#3498db, #005d9b);
  --done-backgroupd-color : background: linear-gradient(#3498db, #005d9b);
  --paid-backgroupd-color : background: linear-gradient(#3498db, #005d9b);
}

