.chat_container{
/*   padding: 3rem; */
}

.container{
    width: 100%;
}
.chat_message {
    width: max-content;
    position: relative;
    font-size: 1rem;

}

.chat_message.alone {
    left : 0rem;
    margin: 0.4rem;
    padding: 1rem 5rem 0 1rem;
    border-left: 1px solid #8dc4ff;
    border-top: 1px solid #8dc4ff;
    border-right: 1px solid #8dc4ff;
    border-bottom: 1px solid #8dc4ff;
    background-color: #8dc4ff;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    min-width: 45%;
 }

.chat_message.self {
    right : 2rem;
    margin: 0.4rem;
    padding: 1rem 5rem 0 1rem;
    border-left: 1px solid #8dffc8;
    border-top: 1px solid #8dffc8;
    border-right: 1px solid #8dffc8;
    border-bottom: 1px solid #8dffc8;
    background-color: #8dffc8;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    min-width: 45%;
 }

.message-datetime {
    position: absolute;
    bottom: -5px;
    right: 30px;
    font-size: 0.8rem;
}

.person .image img {
    width: 42px;
    height: 42px;
} 

.person .name {
   padding: 0rem 0 0.6rem 0.6rem;
}

.person{
    margin: 0 0 1rem;
}

.person p.access-position{
    font-size: 0.6rem;
    font-weight: 100;
    padding: 0.1rem 0 0 0;
}

.message-body {
}
