.save-password-btn {
    border-radius: 3px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    color: #6c757d;
    font-size: 12px;
    height: 39px;
    margin: 0 0 0px 3px;
    min-width: 30px;
    padding: 8px 5px;
    position: relative;
    width: 40px;
    text-align: center;
}

a.profile-access-group-nav.active {    color: #ffffff;    background-color: #007bff;}
a.profile-access-services-nav.active {    color: #ffffff;    background-color: #007bff;}
a.profile-access-services-nav.active {   color: #ffffff;    background-color: #007bff;}
a.profile-access-roles-nav.active {    color: #ffffff;    background-color: #007bff;}
a.profile-access-objects-nav.active {    color: #ffffff;    background-color: #007bff;}
a.profile-access-geozones-nav.active {    color: #ffffff;    background-color: #007bff;}
a.profile-access-function-nav.active {    color: #ffffff;    background-color: #007bff;}
a.profile-access-licenses-nav.active {    color: #ffffff;    background-color: #007bff;}


table.profile-access-objects td {
 padding: 5px;
 vertical-align : middle;
}

table.profile-access-geozones td {
 padding: 5px;
 vertical-align : middle;
}

#modal-change-object-dialog .card{
    min-height: 35rem;
}

.input-group-text{
    width: 40px;
}

.shadow {
box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}

table.profile-object-changes-relation th {
  text-align: center!important;
}

table.profile-object-changes-relation td {
/*  text-align: center!important; */
  vertical-align: middle!important;
}

.object-change-timepicker{
   width: 2.7rem;
   font-size: initial;
}

.object-timeobject-timepicker{
   width: 2.7rem;
   font-size: initial;
}


.day-work-checkbox{
    margin: 8px 4px;
}

.row-work-time {
 padding: 0;
 margin-bottom: 0rem!important;
}


.col-work-time {
 padding: 0.1rem;
 margin: 0.2rem!important;
 border: 1px solid #aeaeae;
 border-radius: 0.2rem;
 width: fit-content;
}

.object-input-servicetime-plg {
 padding: 0.1rem;
 margin: 0.2rem!important;
 border: 1px solid #aeaeae;
 border-radius: 0.2rem;
 width: fit-content;
}

.object-servicetime-add-btn{
    left: -1px;
    padding: 5px 5px 5px;
    margin: 0;
    height: 1.4rem;
    width: 1.4rem;
    min-width: 0px;
}

.object-worktime-add-btn{
    left: -1px;
    padding: 5px 5px 5px;
    margin: 0;
    height: 1.4rem;
    width: 1.4rem;
    min-width: 0px;
}


.servicetime-poligon{
 border-bottom: 1px solid #efefef;
 margin-bottom: 2px;
}

.object-servicetime-clear-btn{
   padding: .25rem .3rem .5rem;
}
.object-worktime-clear-btn{
   padding: .25rem .3rem .5rem;
}

table.dataTable input.datetime{
    width: 100%;
    padding-left: 5px;
    background: url(/main/images/calendar.gif) right center no-repeat rgb(255, 255, 255);
    text-align: left;
    height: 30px;
    margin: 2px;
    border: 1px solid #888;
    border-radius: 5px;
    min-width: 8rem;
}

input.date{
    width: 100%;
    padding-left: 5px;
    background: url(/main/images/calendar.gif) right center no-repeat rgb(255, 255, 255);
    text-align: left;
    height: 30px;
    margin: 0px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    min-width: 8rem;
}


table.dataTable select.select{
    width: 100%;
    padding-left: 5px;
    text-align: left;
    height: 30px;
    margin: 2px;
    border: 1px solid #888;
    border-radius: 5px;
    min-width: 14rem;

}

table.dataTable input.text{
    width: 100%;
    padding-left: 5px;
    text-align: left;
    height: 30px;
    margin: 2px;
    border: 1px solid #888;
    border-radius: 5px;
}

table.dataTable th{
   padding: 10px;
}

table.dataTable {
   font-size: 13px;
}


#mode.select{
    width: 100%;
    min-width: 5rem;
}

body {
 overflow: hidden;
}