<div class="w-100">

<div class="row">
	<input type=hidden id="application_id" value="{{application_id}}">
</div>

<div class="row">
 <div class="card  w-100" style="margin: 0.8rem; padding: 1rem;">
  <div class="row">
 	  <div class="col w-100 text-left" ><h2>Сообщения1</h2></div> 
  </div>

	<div class="shop_messages_list w-100">
</div>
</div>
</div>
</div>
<script src="/main/pages/telegram/jobs/js/shop_messages.js"></script>

