<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown Section Component</title>
    <link rel="stylesheet" href="./css/dropdown-section.css">
    <script src="dropdown-section.js" defer></script>
</head>
<body>
    <h1>Пример использования dropdown-section</h1>

    <dropdown-section>
        <span slot="title">Описание товара</span>
	<p> Мы обеспечиваем доставку товаров за пределы города с минимальными затратами времени и средств. Заказ будет доставлен до ближайшего пункта выдачи или непосредственно к вам домой.
        <ul>
            <li>Ширина: 100 см</li>
            <li>Высота: 200 см</li>
            <li>Вес: 10 кг</li>
        </ul>
	</p>
    </dropdown-section>


</body>
</html>

