<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChipButton Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="chip-button.js" defer></script>
</head>
<body>
    <chip-button label="Советская Гавань" value="1"></chip-button>
    <chip-button label="Хабаровск"value="2"></chip-button>
    <chip-button label="Москва"value="3"></chip-button>
</body>
</html>
