.logonHeader {
	background-image: url(/main/images/header_right.png);
	height: 128px;
	display: block;
}

.title {
 font-family: Tahoma,Helvetica,Arial,Sans-Serif;
 font-size: 28px;
 color: #0564c8;
 font-weight: 400;
 padding: 10px 0px 30px 0px;
}

.title1 {
 font-family: Tahoma,Helvetica,Arial,Sans-Serif;
 font-size: 20px;
 color: #0564c8;
 font-weight: 400;
 line-height: 1.2;
}


.logonText {
    color: #eee;
    width: 100px;
    font-size: 1em;
}


.i-logonInput {
    position: fixed;
    width: 80%;
    height: 35%;
    z-index: 9999;
    left: 10%;
    top: 35%;
    text-align: center;
    background-image: url(/images/web-logo.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-position-y: 100%;
}

.selected {
  background-color: #ff0000;
  color: #fff;
}

.unselected {
  background-color: #eeeeee;
  color: #000;
}

.plg_home, .plg_about, .plg_registration, .plg_remind {
 position: absolute;
 cursor : pointer;
 top: 5px;
 width: 200px;
 z-index: 200;
 text-align: center; 
 vertical-align: middle; 
 border: 2px solid #eeeeee;
 font: bold 14px Tahoma,Helvetica,Arial,Sans-Serif;

 padding: 10px;
}

.plg_home{
 left: 51px;
}

.plg_about{
 left: 280px;
}

.plg_registration{
 left: 510px;
}

.plg_remind {
 left: 280px;
}

.i-about {
 position: relative;
 float : left;
 width: 300px;
 height: 400px;
 top: 100px;
 left: 50px;
 padding: 20px;
 z-index: 100; 
}
.i-register {
 position: relative;
 float : left;
 width: 300px;
 height: 400px;
 top: 100px;
 left: 50px;
 padding: 20px;
 z-index: 100; 
}
.i-remind {
 position: relative;
 float : left;
 width: 300px;
 height: 400px;
 top: 100px;
 left: 50px;
 padding: 20px;
 z-index: 100; 
}


.logotype {
    font: normal 2em Tahoma,Helvetica,Arial,Sans-Serif;
    color: #eeeeee;
    text-align: right;
    position: absolute;
    bottom: 10px;
}

.plg_login{
    padding: 5px;
    z-index: 100;

}


.plg_password {
    padding: 5px;
    z-index: 100;

}

.plg_password span, .plg_login span{
     font: normal 20px Tahoma,Helvetica,Arial,Sans-Serif;

}

.plg_remember {
    z-index: 100;
    padding: 25px;	
}

.plg_no_registration {
  position: absolute;
  top: 260px;
}

.i-logonInput input[type="button"],input[type="submit"] {
    width: 90%;
    height: 3em;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 0.5em;
    outline: 0;
    border: 1px solid #444;
    border-radius: 5px;
    max-width: 400px;
}

.i-logonInput input[type="text"],input[type="password"]{
    width: 90%;
    height: 2em;
    font-size: 1em;
    font-weight: bold;
    padding-left: 0.5em;
    outline: 0;
    border: 1px solid #444;
    border-radius: 5px;
    max-width: 400px;
}

span.filled {
     padding: 9px 9px 9px 9px;
     background:#428bca;
     color: #fff;
     font: normal 12px Tahoma,Helvetica,Arial,Sans-Serif;
     border-radius: 6px;
     margin: 1px;
     border: 1px solid #fff;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;

}

#footer {
	position: absolute;
	width: 100%;
	height: 128px;
	bottom: -128px;
	left: 0px;
/*	border-top: 4px solid #eee;*/
	font: normal 10px Tahoma,Helvetica,Arial,Sans-Serif;
	z-index: 100;
}

a:link, a:visited, a:hover {
	color: #14a5fa;
	cursor: pointer;
	text-decoration: none;
}
a:link, a:visited, a:hover {
	color: #14a5fa;
	cursor: pointer;
	text-decoration: none;
}
a:link, a:visited, a:hover {
	color: #14a5fa;
	cursor: pointer;
	text-decoration: none;
}

#footerLinks {
  padding: 5px 0px 5px 10px;
  width: 100%;
}

.underline {
  text-decoration: underline;
}

.bulletSpan {
	margin-left: 4px;
	margin-right: 4px;
	font-size: 8px;
	color: #14a5fa;
}

.login-error {
  position: absolute;
  top: 250px;
  color: #ff0000;
  border: 2px solid #eeeeee;
  padding: 20px;
  border-radius: 6px;
  margin: 1px;
  border: 1px solid #fff;
  font: normal 1em arial;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #FFE77F;
  display: none;
}


.mainpoligon {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #416969;
    background-image: url(/main/images/webmobile-logo1.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


a.button28 {
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209,209,217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
    width: 80%;
    height: 30px;
    font-size: 1.4em;
    padding: 10px 0px;
    margin-top: 20px;
    max-width: 400px;
}
a.button28:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
a.button28:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}
.closeTimeout{
  color: white;font-size: 2em;
}
